html{
	background-color: black;
	overflow-x: hidden;
}
body{
	margin: 0;
}
hr{
	background-color: #fff;
	height: 5px;
	margin-top: 150px;
}
.navbar{
	top: 0;
	height: auto;
	width: 100%;
	background-color: #ff9933;
	overflow: hidden;
	position: fixed;
	z-index: 10;
}
.navbar > a{
	text-decoration: none;
	color: black;
	padding: 20px 20px;
	font-size: 30px;
	font-family: Imapct, Arial;
	float: left;
	display: block;
	text-align: center;
	transition: 0.5s;
}
.navbar > a:hover{
	color: #ff9933;
	background-color: black;
}
.navbar > .links{
	font-size: 32px;
	float: right;
	color: black;
	padding: 20px 20px;
}

.scrollDown{
	color: #ff9933;
	position: absolute;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	right: 340px;
	margin-top: 150px;
	letter-spacing: 5px;
	text-decoration: none;
	-webkit-animation: jump 1.5s linear 0s infinite normal both;
	animation: jump 1.5s linear 0s infinite normal both;
}
.scrollDown > a{
	color: #ff9933;
	text-decoration: none;
}

.typewrite{
	margin-top: 60px;
	color: #fff;
	text-decoration: none;
	font-size: 60px;
	padding: 100px;
	font-weight: bold;
	font-family: Arial;
	-webkit-animation: animwelcome 1.7s 1 ease-in;
  -moz-animation: animwelcome 1.7s 1 ease-in;
  -ms-animation: animwelcome 1.7s 1 ease-in;
  animation: animwelcome 1.7s 1 ease-in;

}
.ability{
	border: 2px solid #ff9933;
	position: absolute;
	padding: 10px;
	z-index: -1;
	right: 0;
	text-align: center;
	-webkit-animation: animwelcome 1.7s 1 ease-in;
  -moz-animation: animwelcome 1.7s 1 ease-in;
  -ms-animation: animwelcome 1.7s 1 ease-in;
  animation: animwelcome 1.7s 1 ease-in;


}
.ability > p{
	color: #fff;
	font-size: 15px;
	font-family: Verdana;
	line-height: 6px;
	font-weight: bold;
	display: block;
}
.info{
	border: 2px solid #ff9933;
	position: absolute;
	padding: 10px;
	z-index: -1;
	-webkit-animation: animwelcome 1.7s 1 ease-in;
  -moz-animation: animwelcome 1.7s 1 ease-in;
  -ms-animation: animwelcome 1.7s 1 ease-in;
  animation: animwelcome 1.7s 1 ease-in;


}
.info > p{
	color: #fff;
	font-size: 15px;
	font-family: Verdana;
	line-height: 18px;
}
h3{
	color: #ff9933;
	font-size: 20px;
	font-weight: bold;
}
#home > h1{
	color: #fff;
	font-size: 30px;
	webkit-animation:animuser 1s 1 ease;
  -moz-animation:animuser 1s 1 ease;
  -ms-animation:animuser 1s 1 ease;
  animation:animuser 1s 1 ease;

}
.grid{
	display: grid;
	color: #fff;
	grid-template-columns: auto auto;
	width: 400px;
	margin-left: 35%;
	webkit-animation:animuser 1s 1 ease;
  -moz-animation:animuser 1s 1 ease;
  -ms-animation:animuser 1s 1 ease;
  animation:animuser 1s 1 ease;

}
.grid-item {
  text-align: center;
  margin: auto auto;
  text-decoration: none;
}	
.grid-item > i{
	color: white;
	background-color: black;
	font-size: 100px;
	padding: 30px;
	border: 5px solid #fff;
	border-radius: 30%;
	transition: 0.5s;
}
.grid-item > i:hover{
	cursor: pointer;
	color: #ff9933;
	background-color: white;
}
.grid-item > p{
	color:white;
	font-family: Impact, Arial;
	font-size: 30px;
	letter-spacing: 8px;
}

section{
	transition: all .8s ease-in-out;
}
#about{
	margin-top: 50px;
	padding: 100px;
	text-align: center;
}
.header{
	color: #ff9933;
	font-size: 60px;
	font-family: Impact, Arial;
	text-shadow: 2px 2px black;
}
.abText{
	margin-top: 50px;
	color: #fff;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
}
.abText > span{
	color: #ff9933;
	font-weight: bold;
	padding: 10px;
}
#skills{
	margin-top: 50px;
}
.skills-grid{
	padding: 80px;
	display: grid;
	grid-template-columns: auto auto auto;
}
.skills-item{
	text-align: center;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  margin: 50px auto;
}
.skills-item > i{
	color: white;
	font-size: 80px;
	padding: 30px;
	border: 5px solid #fff;
	border-radius: 50%;
	transition: 0.5s;
	width: 100px;
	height: 100px;
}
.skills-item > i:hover{
	cursor: pointer;
	color: #ff9933;
	background-color: white;
}
.skills-item > .desc{
	transition: 1s;
	display: none;
	position: relative;
}
.skills-item > .desc > p{
	color: black;
	margin-left: 10px;
	padding: 5px;
	background-color: #ff9933;
	border: 2px solid #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	transition: 1s;
}
.skills-item:hover > .desc{
	display: block;
	transition: 1s;
}
#projects{
	margin-top: 50px;
}
.projects-grid{
	padding: 100px;
	display: grid;
	grid-template-columns: auto auto;
}
.projects-item{
	text-align: center;
	margin: auto auto;
	position: relative;
}
.projects-item > img{
	object-fit: fill;
	width: 500px;
	height: 400px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 153, 51, 0.9);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.projects-item:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text{
	color: #fff;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	padding: 10px;
}
.textDesc{
	font-size: 35px;
	color: black;
	font-family: Arial;
	display: block;
	line-height: 50px;
}
